* {
    padding: 0;
    margin: 0;
}


.titulo{
    font-size: 60px;
    text-align: center;
    position: relative;
}

.titulo__2{
    font-size: 40px;
    text-align: center;
    position: relative;
}

#head {
    background-color: rgb(97, 206, 240);
    height: 100px;
}

#section {
    background-color:rgb(97, 206, 240);
    margin-top: 12px;
    height: 800px;
}

#abajo {
    background-color: rgb(97, 206, 240);
    height: 200px;
    margin-top: 12px;

 }

/*ESTILOS GENERALES*/

nav ul { 
    list-style: none;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 0%;
}

nav li {
    line-height: 3rem;
    position: relative;
    background-color: #333;
}

nav li ul {
    position: absolute;
    top: 3rem;
}

nav a {
    color: #ddd;
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
    transition: .4;
}

nav a:hover {
    background-color:  rgb(0, 0, 0, 0);
}

nav li ul {
    display: none;
}

nav li:hover > ul {
    display: block
}

/*PIRME NIVEL*/
nav > ul {
    background-color: #333;
    display: table;
    
}

nav > ul > li {
    float: left;
}
/*SEGUNDO NIVEL*/
nav li li {
    background-color: #333;
    width: 200px;
}

.img {
    border-radius: 12px;
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}