* {
    padding: 0;
    margin: 0;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 60px;
}
 
 h2 {
     position: relative;
     text-align: center;
     font-size: 60px;
     margin-bottom: 30px;
 }

 h3 {
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
 }
 
 #head {
    background-color: rgb(97, 206, 240);
    height: 100px;
 }

 #seccion {
    background-color: rgb(97, 206, 240);
    height: 700px;
    margin: 30px 0 30px ;
 }

 #abajo {
    background-color: rgb(97, 206, 240);
    height: 200px;

 }

 .texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
 }
 /*ESTILOS GENERALES*/
 
 nav ul { 
     list-style: none;
     padding: 0;
     position: absolute;
     top: 0%;
     right: 0%;
 }
 
 nav li {
     line-height: 3rem;
     position: relative;
     background-color: #333;
 }
 
 nav li ul {
     position: absolute;
     top: 3rem;
 }
 
 nav a {
     color: #ddd;
     display: block;
     padding: 0 2.5em;
     text-decoration: none;
     transition: .4;
 }
 
 nav a:hover {
     background-color:  rgb(0, 0, 0, 0);
 }
 
 nav li ul {
     display: none;
 }
 
 nav li:hover > ul {
     display: block
 }
 
 /*PIRME NIVEL*/
 nav > ul {
     background-color: #333;
     display: table;
     
 }
 
 nav > ul > li {
     float: left;
 }
 /*SEGUNDO NIVEL*/
 nav li li {
     background-color: #333;
     width: 200px;
 }

 #seccion > img {
    border-radius: 30px;
    height: 500px;
    width: 500px;
    display: block;
    margin: 0 auto;

 }

.link {
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    color: black;
}